$hmax: 100%;

@mixin text($padding, $weight, $size, $color, $spacing) {
    text-align: center;
    padding: $padding;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    word-spacing: $spacing;
}

@media screen and (max-width: 1920px) {
    html {
        height: $hmax;
    }
    body {
        background-color: hsl(212, 45%, 89%);
        height: $hmax;
        margin: 0;
        padding: 0;
        font-size: 0.7vw;
        font-family: 'Montsserat', sans-serif;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 40vw 20vw 40vw;
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas: 
        ". . ."
        ". content ."
        ". . .";
    }
    
    .card {
        grid-area: content;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
    }
    
    img {
        height: 35.5vh;
        width: 18vw;
        position: relative;
        top: 2vh;
        left: 1vw;
        border-radius: 15px;
    }
    
    h1 {
        @include text($padding: 1vw 1.5vw 0vw 1.5vw, $weight: 700, $size: 1.3vw, $color: hsl(218, 44%, 22%), $spacing: 0.1vw)
    }
    p {
        @include text($padding: 0vw 2vw 0vw 2vw, $weight: 400, $size: 0.85vw, $color: hsl(220, 15%, 55%), $spacing: 0.2vw)
    }
}

@media screen and (max-width:500px) {
    html {
        margin: 0;
        height: 100%;
        width: 100%;
    }
    body {
        height: 100%;
        width: 100%;
        background-color: hsl(212, 45%, 89%);
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-family: 'Montsserat', sans-serif;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: 8vw 84vw 8vw;
        grid-template-rows: 10vh 65vh 10vh;
        grid-template-areas: 
        ". . ."
        ". content ."
        ". . .";
    }
    
    .card {
        grid-area: content;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
    }
    
    img {
        height: 34.5vh;
        width: 76vw;
        position: relative;
        top: 1.5vh;
        left: 4vw;
        border-radius: 15px;
    }
    
    h1 {
        @include text($padding: 3vh 2vw 0vw 2vw, $weight: 700, $size: 6vw, $color: hsl(218, 44%, 22%), $spacing: 0.1vw)
    }
    p {
        @include text($padding: 0vw 2vw 0vw 2vw, $weight: 400, $size: 4.5vw, $color: hsl(220, 15%, 55%), $spacing: 0.2vw)
    }
}

